header{
    text-align: center;
    border: 2px solid black;
    font-size: 40px;
    padding: 10px;
    background-color: white;
}

body{
    background-color: #0f7513;
}

nav{
    border: 1px solid black;
    text-align: center;
}

li{
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    color: white;
    
}

li a:visited{
    color: white;
}

li a:link{
    color: white;
}

.linkNone{
    text-decoration: none;
}

div{
    display: inline-flex;
}

aside{
    border: 1px solid black;
    height: 720px;
    width: 29%;
    text-align: center;
}

main{
    border: 1px solid black;
    width: 69.5%;
    height: 720px;
    text-align: center;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}